@model DepartmentDTO
<h1>Create New Department</h1>

<form asp-action="Create" asp-controller="Department" method="post" >
    <div class="my-3">
        <label class="form-label" asp-for="departmentName">  </label>
        <input class="form-control" asp-for="departmentName" />
        <span asp-validation-for="departmentName" class="text-danger" ></span>
    </div>
    <input type="submit" value="ADD" class="btn btn-success" />
</form>

<partial name="_ValidationScriptsPartial"/>